<section id="contact" class="py-[90px] bg-gray-900">
  <div class="container mx-auto px-4">
    <h2 class="text-3xl font-bold text-blue-500 mb-8">
      Contacto (Seccion en Deserrallo)
    </h2>

    <div class="bg-gray-800 border border-gray-700 p-6 rounded-lg">
      <h3 class="text-xl font-semibold text-blue-400 mb-4">
        Envíame un mensaje
      </h3>

      <form
        [formGroup]="contactForm"
        (ngSubmit)="onSubmit()"
        class="space-y-4 p-8"
      >
        <div>
          <label
            for="name"
            class="block text-sm font-medium text-gray-300 mb-1"
          >
            Nombre
          </label>
          <input
            id="name"
            formControlName="name"
            required
            class="w-full bg-gray-700 text-gray-300 rounded-md p-2"
          />
        </div>
        <div>
          <label
            for="email"
            class="block text-sm font-medium text-gray-300 mb-1"
          >
            Correo Electrónico
          </label>
          <input
            id="email"
            type="email"
            formControlName="email"
            required
            class="w-full bg-gray-700 text-gray-300 rounded-md p-2"
          />
        </div>
        <div>
          <label
            for="message"
            class="block text-sm font-medium text-gray-300 mb-1"
          >
            Mensaje
          </label>
          <textarea
            id="message"
            formControlName="message"
            required
            class="w-full bg-gray-700 text-gray-300 rounded-md p-2"
            rows="4"
          ></textarea>
        </div>
        <button
          type="submit"
          [disabled]="!contactForm.valid"
          class="w-full bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-md flex items-center justify-center"
        >
          Enviar Mensaje
          <i data-lucide="send" class="ml-2 h-4 w-4"></i>
        </button>
      </form>

      <div class="bg-gray-800 border border-gray-700 p-6 rounded-lg mb-2">
        <h3 class="text-xl font-semibold text-blue-400 mb-4">Información</h3>
        <div class="space-y-4 text-gray-300">
          <p class="flex items-center">
            <i data-lucide="mail" class="mr-2 h-5 w-5 text-blue-400"></i>
            <a href="mailto:{{ email }}" class="hover:text-blue-400">
              {{ email }}
            </a>
          </p>
          <p class="flex items-center">
            <i data-lucide="phone" class="mr-2 h-5 w-5 text-blue-400"></i>
            <a href="tel:+593999016890" class="hover:text-blue-400"
              >+593 99 901 6890</a
            >
          </p>
          <p class="flex items-center">
            <i data-lucide="map-pin" class="mr-2 h-5 w-5 text-blue-400"></i>
            <span>Guayaquil, Ecuador</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
