<section id="" class="">
  <h2 class="text-3xl font-semibold text-blue-400 mb-4 text-center">
    Sobre mí
  </h2>
  <div class="max-w-3xl mx-auto">
    <p class="text-gray-300 text-xl mb-4">
      Soy un apasionado desarrollador de software con experiencia en
      aplicaciones móviles y de escritorio. Actualmente, estoy cursando mi
      último año de Ingeniería en Tecnologia de la informacipón.
    </p>
    <p class="text-gray-300 text-xl">
      Disfruto explorando nuevas tecnologías y desarrollando proyectos
      fascinantes tanto en el backend como en el frontend.
    </p>
  </div>
</section>
