<section id="about" class="mb-12">
  <div class="container">
    <h2 class="text-3xl font-semibold text-blue-400 mb-4 text-center">Sobre mí</h2>
    <div class="max-w-3xl mx-auto">
      <p class="text-gray-300 text-xl">
        Soy un apasionado desarrollador de software con experiencia en
        aplicaciones móviles y de escritorio. Actualmente, estoy cursando mi
        último año de Ingeniería de Software y busco oportunidades para aplicar
        mis habilidades en proyectos desafiantes e innovadores.
      </p>
    </div>
  </div>
</section>
