<footer class="bg-gradient-to-r from-smoke-950 to-smoke-950 text-blue-romance-100 py-6">
  <div class="container max-w-6xl mx-auto px-4 flex justify-between items-center">
    <p class="text-blue-romance-300 text-sm">
      © 2024 KleberDev Todos los derechos reservados
    </p>
    <div class="flex space-x-4">
      <a href="#" class="text-blue-romance-300 hover:text-blue-romance-500">
        <i class="fab fa-whatsapp text-xl"></i>
      </a>
      <a href="#" class="text-blue-romance-300 hover:text-blue-romance-500">
        <i class="fab fa-facebook text-xl"></i>
      </a>
      <a href="#" class="text-blue-romance-300 hover:text-blue-romance-500">
        <i class="fab fa-linkedin text-xl"></i>
      </a>
      <a href="#" class="text-blue-romance-300 hover:text-blue-romance-500">
        <i class="fab fa-github text-xl"></i>
      </a>
    </div>
  </div>
</footer>