.footer {
  background-color: #2d3748;

  color: #f7fafc;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-text {
  font-size: 0.875rem;
  margin-top: 10px;
}
