<header class="header">
  <div class="container">
     <div class="header-content">
        <a routerLink="/" class="logo">KapmDev</a>
        <nav class="nav-desktop">
           <a routerLink="/home" class="nav-link">Home</a>
           <a routerLink="/about" class="nav-link">Sobre Mí</a>
           <a routerLink="/experience" class="nav-link">Experiencia</a>
           <a routerLink="/education" class="nav-link">Educación</a>
           <a routerLink="/skills" class="nav-link">Habilidades</a>
           <a routerLink="/projects" class="nav-link">Proyectos</a>
        </nav>
       
     </div>
  </div>
</header>

