<section id="about" class="pt-12 pb-10">
  <div class="container">
    <div class="py-12 text-center">
      <div class="w-32 h-32 mx-auto mb-4 rounded-full overflow-hidden">
        <img
          src="assets/img/profile.webp"
          alt="Student"
          class="w-full h-full object-cover"
        />
      </div>
      <h1 class="text-4xl font-bold mb-2 text-blue-400">
        Kleber Pillasagua Mera
      </h1>
      <p class="text-xl text-gray-400">Desarrollador de Software</p>
      <div class="social-links">
        <a href="https://github.com/KleberMera" aria-label="GitHub">
          <i data-lucide="github"></i>
        </a>
        <a aria-label="LinkedIn">
          <i data-lucide="linkedin"></i>
        </a>
        <a aria-label="Email">
          <i data-lucide="mail"></i>
        </a>
      </div>
    </div>
  </div>
</section>
