<!-- Projects -->
<section id="projects" class="mb-12 py-[80px]">
  <h2 class="text-2xl font-semibold text-blue-400 mb-6">
    Proyectos Destacados
  </h2>
  <div class="grid gap-6 md:grid-cols-2">
    <div class="bg-gray-800 border border-gray-700 p-6 rounded-lg">
      <h3 class="text-xl font-semibold text-blue-400 mb-2">Moniwise App</h3>
      <p class="text-gray-400 mb-4">
        Aplicación móvil (Android & iOS) para la gestión de gastos
      </p>
      <p class="text-gray-300">
        Desarrollé una aplicación de gestión de gastos multiplataforma
      </p>
      <p class="text-gray-300">Fronted: Angular + Ionic Backend: Laravel</p>
      <p class="text-gray-300">Backend: Firabase</p>
    </div>
    <div class="bg-gray-800 border border-gray-700 p-6 rounded-lg">
      <h3 class="text-xl font-semibold text-blue-400 mb-2">Aguapen App</h3>
      <p class="text-gray-400 mb-4">Aplicación Web para control de inventario</p>
      <p class="text-gray-300">Creé un sistema para la empresa Aguapen EP.</p>
      <p class="text-gray-300">Frontend: Angular</p>
      <p class="text-gray-300">Backend: Laravel + Mysql</p>
    </div>
  </div>
</section>
